<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ciko.guo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.RegisterSuccessActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.UserNameActivity" />
        <activity android:name=".activity.MobilePhoneActivity" />
        <activity android:name=".activity.PhoneActivity" />
        <activity android:name=".activity.CompanyAddressActivity" />
        <activity android:name=".activity.CompanyTaxFileNumberActivity" />
        <activity android:name=".activity.CompanyWebsiteActivity" />
        <activity android:name=".activity.WarmInfoActivity" />
        <activity android:name=".activity.DeviceDetailActivity" />
        <activity android:name=".activity.ServerTipActivity" />
        <activity android:name=".activity.ServerGetActivity" />
        <activity android:name=".activity.CodeSearchActivity" />
        <activity android:name=".activity.AddDriverActivity" />
        <activity android:name=".activity.ChatOnlineActivity" />
        <activity android:name=".activity.NewChatActivity" />
        <activity android:name=".activity.CompanyBelongToActivity" />
        <activity android:name=".activity.EmailActivity" />
        <activity android:name=".activity.LookMessageActivity" />
        <activity android:name=".activity.UserPswActivity" />

    </application>

</manifest>